@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/Home/index.js"></script>

<style>
    .card-1 {
        padding: 10px 10px 10px 10px;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }
</style>

<div class="container" style="padding-top:40px;">
    <div class="row">

        <div class="col-md-6">
            <h2>¿No se encuentra registrado?</h2>
            <p>
                Usted podrá solicitar turnos online para Consultas Médicas y Estudios de nuestros centros (Belgrano, Ramos Mejía, Rivadavia, Morón, Espora, Monteagudo y Cardiovascular).
                Si aún no tiene CLAVE por favor REGISTRESE y aguarde a recibir el email de confirmación que le permitira generar una clave.
            </p>
            <a href="" id="linkRegister">Registrarse</a>
        </div>
        <div class="col-md-6">



            @*<div class="container login">*@
            @*<div class="header">
                <img style="opacity:0.1;" class="img-fluid rounded mx-auto d-block" src="../Assets/images/price.png">
            </div>*@
            @*<div class="row justify-content-md-center justify-content-lg-center">
            <div class="col-lg-4">*@
            <div id="cardLogin" class="card card-1 col-md-6 text-md-center col-lg-4 text-lg-center">
                <div class="card-block">
                    <div class="card-body">
                        <div class="col-lg-12 col-sm-12 col-12 user-img">
                            <img src="~/Assets/images/man.png">
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12 user-name">
                            <h3>Iniciar sesión</h3>
                            @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        </div>
                        <div class="col-lg-12 col-sm-12 col-12">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter email">
                                    @*@Html.TextBoxFor(m => m.username, new { @class = "form-control", @id = "txtUser", placeholder = "Nombre de usuario" })
                                    <div class="text-left">
                                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                    </div>*@
                                </div>
                                <div class="form-group">
                                    @*@Html.PasswordFor(m => m.password, new { @class = "form-control", @id = "txtPass", placeholder = "Contraseña" })
                                    <div class="text-left">
                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                    </div>*@
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                @*<button type="submit" class="btn btn-success"  onclick="document.getElementById('frmAccount').submit();>Login</button>*@
                                <a id="btnModalRegister">Olvidé mi contraseña?</a>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="text-center">
                            <button id="btnLogin" class="btn btn-outline-success btn-lg btn-block" type="submit" onclick="document.getElementById('frmAccount').submit();">Iniciar Sesión</button>
                        </div>
                    </div>
                </div>

                @if (Model != null && !String.IsNullOrWhiteSpace(Model.message))
                {
                    <label id="lblError" class="text-danger">@Model.message </label>
                }

                @if (!String.IsNullOrWhiteSpace(@ViewBag.messageError))
                {
                    <label id="lblErrorAD" class="text-danger">@ViewBag.messageError </label>
                }


            </div>
            @*</div>
            </div>*@
            @*</div>*@

            }
            @*<script>
                $(document).ready(function () {
                    $("#cardLogin").css("center-block");
                    //alert("siiii");


                    $('#btnLogin').click(function () {

                        GoInFullscreen($("#element").get(0));
                    });
                });
            </script>*@

            @*<script>


                    var fullscreen = function (elem) {
                        if (elem.requestFullscreen) {
                            elem.requestFullscreen();
                        } else if (elem.msRequestFullscreen) {
                            elem.msRequestFullscreen();
                        } else if (elem.mozRequestFullScreen) {
                            elem.mozRequestFullScreen();
                        } else if (elem.webkitRequestFullscreen) {
                            elem.webkitRequestFullscreen();
                        }
                    }
                    //document.getElementById('ejemplo-fullscreen').onclick = function () {
                    //    fullscreen(document.getElementById('content'));
                    //}


            </script>*@



        </div>

    </div>
</div>

<div id="modalRegister" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>